section.search-block .form-holder {
    z-index: 99;
    border-radius: 3px;
    padding: 20px;
    background: hsla(0, 0%, 100%, .9);
    margin-top: -60px;
    margin-bottom: 15px;
    position: relative;
    float: left;
    width: 100%;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
}

.search-main-input {
    border: 3px solid #16a6df;
    border-radius: 3px;
    background: #fff;
    float: left;
    width: 100%;
    position: relative;
}

.search-main-input .sel {
    font-size: 16px;
    display: inline-block;
    width: 125px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border-right: 1px solid #e9e9e9;
    margin: 10px 0;
    padding: 7.5px 35px 7.5px 0;
}

.search-block select {
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #666;
    height: 45px;
    width: 100%;
    padding: 7px 10px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
    font-size: 14px;
}

.search-block select {
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #666;
    height: 45px;
    width: 100%;
    padding: 7px 10px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
    font-size: 14px;
}

#searchForm .search-main-input-right .search-btn {
    float: right;
    font-size: 27px;
    color: #16a6df;
    text-transform: uppercase;
    font-weight: 600;
    border: 0 solid #fff;
    border-radius: 3px;
    margin-top: 0;
    cursor: pointer;
    background: #fff !important;
    padding: 8px 15px 11px;
    outline: none;
    height: auto;
}

.search-input {
    width: calc(100% - 200px);
    float: left;
    border: none;
    padding: 15px 0 15px 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    height: 60px;
    resize: none;
    overflow: hidden;
}

.search-input-new {
    width: 100%;
    border: none;
    padding: 15px 0 15px 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    height: 60px;
    resize: none;
    overflow: hidden;
}

.search-main-tab-bottom .limit-btn {
    float: left;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 14px;
    color: #666;
    margin-top: 7px;
    font-weight: 500;
}

// .search-main-tab-bottom .limit-btn .fa-caret-up {
//     display: none;
// }

.search-main-tab-bottom {
    float: left;
    width: 100%;
}

.search-main-tab-bottom .advanced-btn {
    float: right;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 14px;
    color: #666;
    margin-top: 7px;
    font-weight: 500;
}

.autoSuggesstions {
    position: absolute;
    text-align: left;
    top: 62px;
    width: 100%;
    padding: 15px;
    left: 0;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .1);
    border-radius: 0 0 3px 3px;
    background: #fff;
    z-index: 99;
}

.autoSuggesstions ul {
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: 265px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.autoSuggesstions ul li {
    color: #1c1c1c;
    font-size: 14px;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all;
}

.autoSuggesstions ul li span.subjectSpan {
    color: #8c8c8c;
    font-size: 12px;
}

.autoSuggesstions ul li:focus,
.autoSuggesstions ul li:hover {
    background-color: #f1fdfd;
    cursor: pointer;
    color: #03a9f4;
}

// Advance search
.nav-tabs-head {
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.nav-tabs-head nav {
    float: left;
}

#searchForm .nav-tabs {
    border-bottom: none;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.search-main-tab-bottom #nav-tab a {
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 16px 13px;
    border: none !important;
}

.nav-tab-custom a{
    padding: 14px 6px !important;
}

.BasicSearch-btn {
    float: right;
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #666;
    margin: 15px 15px 0 0;
    padding: 0;
}

.search-main-tab-bottom .tab-content {
    padding-top: 20px;
    width: 100%;
    float: left;
}

.book-detail-tab .tab-content .tab-pane,
.search-main-tab-bottom .tab-content .tab-pane {
    width: 100%;
}

.material-form-group,
.material-form-radio {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    text-align: left;
}

.material-form-group input,
.material-form-group textarea {
    display: block;
    background: none;
    padding: .8rem .125rem .0625rem;
    font-size: 14px;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    transition: all .28s ease;
    box-shadow: none;
}



.material-form-group .material-bar {
    position: relative;
    border-bottom: .0625rem solid #e5e5e5;
    display: block;
}

.search-main-tab-bottom .nav-tabs .nav-item.show .nav-link,
.search-main-tab-bottom .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #32b5f3;
    border: none;
    border-radius: 0;
}

.nav-link {
    cursor: pointer;
}

.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}



.material-form-group .material-control-label {
    position: absolute;
    top: .25rem;
    pointer-events: none;
    padding-left: .125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: 400;
    transition: all .28s ease;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.material-form-group select {
    width: 100%;
    font-size: 14px !important;
    height: 40px !important;
    padding: 3px 30px 3px 3px !important;
    border: none;
    margin: 0;
    line-height: 1.6 !important;
    box-shadow: none;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.material-form-group .material-bar {
    position: relative;
    border-bottom: .0625rem solid #e5e5e5;
    display: block;
}


body select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    // background-image: url(arrow.aa10ea60acc152253e6f.png);
    background-position: 100%;
    background-repeat: no-repeat;
    padding-right: 30px !important;
}

.search-block #searchForm label {
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #666;
}



.material-form-group input.material-form-file~.material-control-label,
.material-form-group input.material-has-value~.material-control-label,
.material-form-group input:focus~.material-control-label,
.material-form-group input:valid~.material-control-label,
.material-form-group select~.material-control-label,
.material-form-group textarea.material-form-file~.material-control-label,
.material-form-group textarea.material-has-value~.material-control-label,
.material-form-group textarea:focus~.material-control-label,
.material-form-group textarea:valid~.material-control-label {
    font-size: .8rem;
    color: gray;
    top: -1rem;
    left: 0;
}

.pull-right {
    float: right;
}

.btn-primary {
    background: #26b6ef none repeat scroll 0 0 !important;
    border: 1px solid #26b6ef !important;
    color: #fff !important;
}

ul.booleanOpretors {
    margin: -5px 0 15px;
    padding: 0;
    float: left;
}

.booleanOpretors li.active {
    background-color: #16a6df;
    color: #fff;
}

.booleanOpretors li {
    display: inline-block;
    padding: 3px 10px;
    margin: 0 1px;
    font-size: 13px;
    cursor: pointer;
    background-color: #f6f6f6;
    border-radius: 2px;
}

*,
:after,
:before {
    box-sizing: border-box;
}

input:focus,
select:focus {
    box-shadow: none;
    outline: none;
}

.search-main-tab-bottom .material-form-group .material-control-label {
    font-weight: 300 !important;
    color: #999 !important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

// for limit form
.limit-form {
    float: left;
    width: 100%;
    padding-top: 10px;
}

.material-checkbox {
    margin-top: 27px;
}

.navbar-limit-form {
    position: absolute;
    background: #fff;
    padding: 10px;
    width: 50% !important;
}

.checkLimit {
    margin: 10px;
}

// for remove boolean search icon

.boxBoolean .material-form-group.chack-right {
    float: right;
    width: auto;
}

.material-icons.booleanremove {
    color: red;
    background: red;
    color: #fff;
    margin: 7px 0;
}