<section class="mt-5">
    <div class="container">
        <h2 class="text-center font-weight-bold m-5">Library Calendar</h2>
        <div class="card">
            <div class='demo-app'>
                <div class="row p-3">
                    <div class="col-9">
                        <div class='demo-app-main text-muted'>
                            <full-calendar *ngIf='calendarVisible' [events]="calendarEvents" [options]='calendarOptions'>
                                <ng-template #eventContent let-arg>
                                    <b>{{ arg.timeText }}</b>
                                    <i>{{ arg.event.title }}</i>
                                </ng-template>
                            </full-calendar>
                            <!-- <full-calendar [events]="calendarEvents" [options]="calendarOptions"></full-calendar> -->
                        </div>
                    </div>
                    <div class="col-3 demo-app-sidebar-section-parent">
                        <div class='demo-app-sidebar-section'>
                            <h5 class="text-center pt-2">EVENTS THIS MONTH</h5>
                            <ul>
                                <li *ngFor='let event of currentEvents'>
                                    <div class="eventList bg-white rounded-pill p-2 m-1">
                                        <span class="title">
                                            {{event.title}}
                                        </span>
                                        <span class="pull-right">
                                            {{event.startStr}}
                                        </span>
                                    </div>
                                    <!-- <b>{{event.startStr}}</b>
                                    <i>{{event.title}}</i> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>