<section id="faqsection" class="text-center mb-4">
    <strong>
        <h2 class="m-5"></h2>
    </strong>
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <img src="/assets/img/libraryfaq.png" style="width:300x; height:400px">
            </div>
            <div class="col-7">
                <div id="accordion">
                    <!-- @foreach ($faqs as $faq) -->
                    <!-- <div class="card m-2" style="cursor:pointer;"> -->
                    <!-- <div class="card-header collapsed card-link rounded-pill" data-toggle="collapse"
                            data-target="{{ '#faq' . $faq->id }}">
                            {{ $faq->question . ' ?' }}
                        </div>
                        <div id="{{ 'faq' . $faq->id }}" class="collapse" data-parent="#accordion">
                            <div class="card-body text-muted">
                                {{ $faq->answer }}
                            </div>
                        </div> -->
                    <!-- </div> -->
                    <!-- @endforeach -->

                    <!-- <select [(ngModel)]="faq" class="form-control"> -->
                        <!-- <div *ngFor="let qa of faq">
                            {{ qa.q }}
                            <br>
                            {{ qa.a }}
                            <br>
                            <br>
                        </div> -->
                        <!-- <option *ngFor="let data of faq" [ngValue]="data">
                            {{ data.name }}
                        </option> -->
                    <!-- </select> -->

                </div>
            </div>
        </div>
    </div>
</section>