<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./home">Home
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./about">About</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 bg-info">
                <div class="row">
                    <div class="col-3">
                        <img src="assets/img/logo.png" class="rounded mx-3 my-2" height="70px" width="70px"
                            alt="logo" />
                    </div>
                    <div class="col-9 text-white py-3">
                        <h5>Welcome!</h5>
                        <p>The Humphress Group</p>
                    </div>
                </div>
            </div>
            <div class="col-8 bg-muted my-nav-color">
                <div class="row bg-white">
                    <div class="col-12">
                        <span *ngIf="!btnVisible" (click)="logout()"
                            class="cursor-pointer font-weight-bold float-end py-2 px-5">Logout</span>
                        <span *ngIf="btnVisible" routerLink="/login"
                            class="cursor-pointer font-weight-bold float-end py-2 px-5">Login</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarResponsive" aria-controls="navbarResponsive"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarResponsive">
                                    <ul class="navbar-nav ml-auto text-black font-weight-bold">
                                        <li class="nav-item" routerLinkActive="active">
                                            <a class="nav-link py-3 px-5" routerLink="./home">Home
                                                <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="nav-item" routerLinkActive="active">
                                            <a class="nav-link py-3 px-5 " routerLink="./about">About</a>
                                        </li>
                                        <li class="nav-item" routerLinkActive="active">
                                            <a class="nav-link py-3 px-5 " routerLink="./contact">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>