footer.main-footer {
    background: #131313 none repeat scroll 0 0;
    border-top: 14px solid #ffca51;
    float: left;
    position: relative;
    width: 100%;
}

a{
    text-decoration: none;
}

.scrollTop-outer {
    overflow: hidden;
    width: 98px;
    position: absolute;
    right: 0;
    bottom: 30px;
}

#scrollTop {
    height: 40px;
    position: relative;
    right: -57px;
    bottom: 0;
    top: 0;
    background-color: #26b6ef;
    background-image: linear-gradient(90deg,#26b6ef,#37cfdc);
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    font-size: 14px;
    cursor: pointer;
    z-index: 9998;
    padding: 1px 20px;
    transition: all .3s;
    letter-spacing: 4px;
}

.footer-nav {
    list-style-type: none;
    padding: 0;
    display: table;
    margin: 10px auto;
    text-align: center;
}

.footer-nav li {
    display: inline;
}

.footer-nav li a {
    color: #696969!important;
    margin: 0 12px;
    padding: 25px 20px 10px;
}

hr.footer-dvder {
    border-color: #1f1f1f;
}

footer.main-footer .brand {
    font-weight: 900;
    font-size: 20px;
    color: #696969;
    margin-bottom: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

img.library-name {
    margin-right: 10px;
    float: left;
    max-width: 60px;
    max-height: 100%;
    border-radius: 3px;
}

img {
    vertical-align: middle;
    border-style: none;
}

footer.main-footer ul.social-icons {
    margin-top: 10px;
    margin-bottom: 15px;
}

.edit-widgets-btn {
    width: auto;
    float: right;
    position: absolute!important;
    top: 5px;
    right: 0;
    background-color: #fff;
    z-index: 99;
}

.btn-group>.btn:first-child {
    margin-left: 0;
}

footer.main-footer ul.links {
    color: #696969;
}

.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}

footer.main-footer ul.links a {
    margin-bottom: 0;
    color: #696969;
}

body a {
    // color: #26b6ef;
    transition: all .3s;
    display: inline-block;
    text-decoration: none!important;
}

footer.main-footer h5 {
    color: #9f9f9f;
    font-size: 1rem;
}

footer.main-footer ul.links {
    color: #696969;
}

footer.main-footer .copyrights a:hover {
    color: #26b6ef;
}