.fc .fc-button-primary {
    background-color: white !important;
    border-color: white !important;
    color: #49baf3 !important;
}

.demo-app-main a {
    color: red;
}

.eventList {
    float: left;
    width: 100%;
    color: #999;
}

.pull-right {
    float: right;
}

.demo-app-sidebar-section-parent {
    background-color: #f8f5f5;
}

section.widgets {
    padding: 30px 0;
}

section.widgets {
    float: left;
    width: 100%;
}