* {
    margin: 0;
    padding: 0;
}

.my-nav-color {
    background-color: #f7f7f7;
    font-size: 0.9rem;
}

.cursor-pointer {
    cursor: pointer;
}

.active {
    background-color: #ffca51;
    color: white;
}