.internalerror-page {
    width: 100%;
    text-align: left;
    background-color: #181818;
    background-image: url('/assets/img/404_not_found.jpg');
    padding: 30px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 100%;
}

.internalerror-page-inner {
    width: 100%;
}

.internalerror-page h2 {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

.internalerror-page h2 strong {
    font-weight: 800;
    text-transform: capitalize;
    color: #26b6ef;
}

.internalerror-page p {
    font-size: 22px;
    font-weight: 300;
    color: #999;
    line-height: 32px;
    margin: 10px 0 30px;
}