/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* You can add global styles to this file, and also import other style files */
/* loader css */

* {
    list-style-type: none;
}

.loding-img-main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: #fff;
    text-align: center;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.loding-img {
    margin: 0;
    padding: 0;
    font-weight: 1000;
    font-size: 16px;
    color: #26B6EF;
    position: relative;
    height: 160px;
    top: 40%;
}

.loding-img span {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
}

.loding-let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
}

.loding-let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
}

.loding-let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
}

.loding-let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;
}

.loding-let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
}

.loding-let6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.7s;
}

.loding-let7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        top: 6.94em
    }
}

#showOrg {
    clear: both;
    width: 100%;
    float: left;
    display: block;
    padding: 10px;
    color: #26B6EF;
    font-size: 22px;
}

.loader-inner {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    transform: translate3d(-50%, -50%, 0)
}

.loader-dot {
    width: 15px;
    height: 15px;
    background: #26b6ef;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: slide 1s infinite;
    animation: slide 1s infinite
}

.loader-dot:first-child {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    background: #26b6ef
}

.loader-dot:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    background: #6abcbd
}

.loader-dot:nth-child(3) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    background: #95c09e
}

.loader-dot:nth-child(4) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    background: #d0c673
}

.loader-dot:nth-child(5) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    background: #ffca51
}

@keyframes slide {
    0% {
        transform: scale(1)
    }

    50% {
        opacity: .3;
        transform: scale(2)
    }

    to {
        transform: scale(1)
    }
}

#showOrg {
    padding: 20px 0 0;
    color: #333;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 24px
}

/* loader css ends here */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fc .fc-button-primary {
    background-color: white !important;
    border-color: white !important;
    color: #49baf3 !important;
}

// for inner loader
.loader-inner-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-align: center;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
}

// @keyframes border-dance {
//     0% {
//         /* CSS properties at the start of the animation */
//         /* For example, no background image */
//         background-image: none;
//     }

//     50% {
//         /* CSS properties at the midpoint of the animation */
//         /* For example, linear gradients */
//         background-image: linear-gradient(90deg, silver 50%, transparent 0),
//             linear-gradient(90deg, silver 50%, transparent 0),
//             linear-gradient(0deg, silver 50%, transparent 0),
//             linear-gradient(0deg, silver 50%, transparent 0);
//     }

//     100% {
//         /* CSS properties at the end of the animation */
//         /* For example, linear gradients */
//         background-image: linear-gradient(90deg, silver 50%, transparent 0),
//             linear-gradient(90deg, silver 50%, transparent 0),
//             linear-gradient(0deg, silver 50%, transparent 0),
//             linear-gradient(0deg, silver 50%, transparent 0);
//     }
// }

.manage-view section.select-box {
    background-image: linear-gradient(90deg, silver 50%, transparent 0), linear-gradient(90deg, silver 50%, transparent 0), linear-gradient(0deg, silver 50%, transparent 0), linear-gradient(0deg, silver 50%, transparent 0);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    -webkit-animation: border-dance 1s linear infinite;
    animation: border-dance 1s linear infinite;
    background-color: #fff;
    margin: 25px 0;
    position: relative;
}

.manage-view {
    padding: 40px;
}